<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css" media="screen" charset="utf-8">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>#UZB25</h1>
        <p>
            O'zbekiston Mustaqilligining 25 yilliga bag'ishlanadi.
        </p>
        <a class="btn btn-info btn-large" href="/auth/facebook"><i class="fa fa-facebook"></i> Facebook orqali kirish</a>
    </div>
</div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; Powered by <a href="https://github.com/WebStyle/uzb25">open source</a> </p>
        </div>
    </footer>
</body>
</html>
