body {
    padding-top: 20px;
    word-wrap: break-word;
}

.img-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
